h2{
    font-family: "Maven Pro",sans-serif;
    font-style: normal;
    font-size: 1.5rem;
}

h1{
    text-align: center;
    font-family: "Maven Pro",sans-serif;
    margin: 50px 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li{
    margin: 5px;
    font-size: 10px;
}


p{
    font-family: "Open Sans",sans-serif;
    
}

.div-a h1{
    font-family: "Maven Pro",sans-serif;
    font-size: 2.5rem;
}

.first-paragraph{
    background-color: rgb(46, 44, 44);
    color: blanchedalmond;
    height: 60px;
}

.first-paragraph > p > button{
    background-color: #f65b5f;
    width: 200px;
    height: 60px;
}

button{
    cursor: pointer;
    border: none;
}

p + button{
    background-color: #f65b5f;
    color: #ffffff;
    width: 150px;
    height: 40px;
}
#last-div{
   background-color: #1b1f25;
   color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: baseline;
   font-size: 15px;
}

#last-div a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
}

ul{
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    color: #131111;
}

.sec-1{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sec-1 button{
    margin: 40px 0;
    
}

.sec-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sec-2 button{
    margin: 40px 0;
    
}

.sec-3{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sec-3 button{
    margin: 40px 0;
    
}

.sec-4{
    display: flex;
    justify-content: space-around;
    text-align: center;  
}

.sec-4 button{
    margin: 40px 0;
    
}

button  img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    
}











